$primary:#172b4d;
$secondary:#36b37e;
$workCardTitleColor:#3a4a42;
$terciary:#42526e;
$default:#000;
$defaultWhite:#fff;
$btnBg:#36b37f;
$btnFc:#fff;
$btnActive:#008552;
$btnHoverShadow:rgba(54, 179, 127, 0.24);
$indicatorEnd:#0d151e;
$fontPrimary: 'Inter', sans-serif;
$aboutBoxBg:#ebf0ee;
$aboutBoxBgBorder:#c1c7d0;
$aboutBoxTitle:#344563;
$bodyBg:#e5e5e5;
