@media (min-width: 375px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .header-menu {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 5%;
    height: 5%;
  }

  #hamburg-icon {
    font-size: 17pt;
    padding-right: 2rem;
    color: #28352f;
  }

  main {
    background-image: url(../img/header-illsutration-mobile@2x.png);
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 5%;
  }

  .socialmedia-links {
    display: flex;
    flex-direction: row;
    margin-top: 6%;
    justify-content: center;
    transform: translateX(-7%);
    gap: 1.5%;
  }

  .socialmedia-links li {
    list-style: none;
    padding-left: 4%;
  }

  .socialmedia-links img {
    height: 90%;
    width: 90%;
  }

  .headline-section { margin-top: 15.3%; }

  .headline-primary,
  .headline-secondary {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
  }

  .headline-primary { color: #172b4d; }

  .headline-secondary { color: #36b37e; }

  .headline-content p {
    margin-top: -8%;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #172b4d;
    padding-left: 0.5%;
    padding-right: 0.5%;
  }

  .headline-content {
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 3%;
    padding-right: 3%;
  }

  .btn-hover {
    text-align: center;
    padding-top: 15%;
  }

  .indicator {
    width: 48px;
    height: 4px;
    background: #36b37e;
    border-radius: 24px;
    margin-top: -5%;
  }

  .works-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 3%;
    margin-right: 3%;
  }

  .card {
    background: #fff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .tech {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .box-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
  }

  .box-descr h1 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #344563;
    margin-top: -7%;
  }

  .box-descr {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: -1%;
  }

  .card-description {
    margin-top: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #d0d9d4;
  }

  .box-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 17px;
  }

  .box-tech {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 17px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 12%;
  }

  .cards {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    height: 474px;
    border: 1px solid #d0d9d4;
    background: #ebf0ee;
    border-radius: 8px;
  }

  .card-headerbg {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .card-body {
    display: flex;
    justify-content: space-around;
    gap: 2%;
    margin-top: 0%;
  }

  .about-content p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #42526e;
    margin-top: -3%;
  }

  .tech-language {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5%;
    margin-top: -10%;
  }

  .card-gra {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40% 20% 40%;
    width: 100%;
    row-gap: 7%;
  }

  .card-tech {
    display: flex;
    justify-content: center;
  }

  .card-tech button {
    background-color: #36b37f;
    color: #fff;
  }

  .card-title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #3a4a42;
  }

  .see-project {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    gap: 10px;
    width: inherit;
    height: 25%;
    bottom: 8px;
    background: #36b37f;
    border-radius: 4px;
  }

  .see-project a {
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.03em;
    color: #fff;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
  }

  .card-see {
    display: flex;
    justify-content: center;
    padding-bottom: 10%;
  }

  .resume {
    display: flex;
    justify-content: center;
    margin-bottom: 9%;
  }

  .language {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    gap: 10px;
    width: inherit;
    bottom: 8px;
    margin-top: 1%;
    background: #ebf0ee;
    border-radius: 4px;
    text-align: center;
    height: 10%;
  }

  .techlanguage {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    margin-top: 10%;
    background: #fff;
    height: 10%;
    border-radius: 8px;
  }

  .language a {
    text-decoration: none;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #3a4a42;
  }

  .techlanguage a {
    text-align: center;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #36b37e;
  }

  .card-ruby { width: 35%; }

  .card-ruby a {
    font-weight: bold;
    color: black;
  }

  .tech-card-ruby { width: 35%; }

  .card-css { width: 10%; }

  .card-Js { width: 1%; }

  .card-html { width: 14%; }

  .about {
    background-image: url(../img/imgAbout.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 0%;
    margin-right: 0%;
  }

  .about-header h1 {
    padding-top: -60%;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    color: #172b4d;
  }

  #about-resume {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
  }

  .box {
    box-sizing: border-box;
    background: #ebf0ee;
    border: 1px solid #c1c7d0;
    border-radius: 8px;
    width: 327px;
    height: 316px;
    display: grid;
    grid-template-rows: 30fr 70fr;
    grid-template-columns: 100%;
  }
}
