@media (max-width: 375px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
  }

  .header-menu {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 5%;
    height: 5%;
  }

  #hamburg-icon {
    font-size: 17pt;
    padding-right: 2rem;
    color: #28352f;
  }

  main {
    background-image: url(../img/header-illsutration-mobile@2x.png);
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 5%;
  }

  .socialmedia-links {
    display: flex;
    flex-direction: row;
    margin-top: 6%;
    justify-content: center;
    transform: translateX(-7%);
    gap: 1.5%;
  }

  .socialmedia-links li {
    list-style: none;
    padding-left: 4%;
  }

  .socialmedia-links img {
    height: 90%;
    width: 90%;
  }

  .headline-section { margin-top: 20%; }

  .headline-primary,
  .headline-secondary {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
  }

  .headline-primary { color: #172b4d; }

  .headline-secondary { color: #36b37e; }

  .headline-content p {
    margin-top: -8%;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #172b4d;
    padding-left: 0.5%;
    padding-right: 0.5%;
  }

  .headline-content {
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 3%;
    padding-right: 3%;
  }

  .btn-hover {
    text-align: center;
    padding-top: 15%;
  }

  .indicator {
    width: 48px;
    height: 4px;
    background: #36b37e;
    border-radius: 24px;
    margin-top: -5%;
  }

  .works-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10%;
  }

  .card {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 10% 20%;
    border-radius: 8px;
    background-color: #fff;
  }

  .tech {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .box-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
  }

  .box-descr h3 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #344563;
    margin-top: -7%;
  }

  .box-descr {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20fr 80fr;
  }

  .card-description {
    margin-top: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #d0d9d4;
  }

  .box-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 17px;
    margin-top: 15%;
  }

  .box-tech {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 17px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 12%;
  }

  .cards {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    height: 474px;
    border: 1px solid #d0d9d4;
    background: #ebf0ee;
    border-radius: 8px;
  }

  .card-headerbg {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .card-list {
    display: flex;
    justify-content: space-between;
    padding-left: 0%;
    margin-top: -3%;
    margin-bottom: 8%;
  }

  .about-content p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #42526e;
    margin-top: -3%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .tech-language {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2%;
    padding-left: 0%;
    justify-content: center;
    align-items: flex-start;
  }

  .card-gra {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20fr 20fr 60fr;
  }

  .card-tech {
    display: flex;
    justify-content: center;
  }

  .card-tech button {
    background-color: #36b37f;
    color: #fff;
  }

  .form-background {
    display: flex;
    justify-content: flex-end;
    position: relative;
    right: -5%;
    margin-top: -24%;
  }

  .form-background img { z-index: -10; }

  .email_links_container { margin-top: 1%; }

  .foot-link { margin-top: 10%; }

  .card-title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #3a4a42;
  }

  .card-see {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 48px;
  }

  .resume {
    display: flex;
    justify-content: center;
  }

  .language {
    display: flex;
    align-items: center;
    background: #ebf0ee;
    text-align: center;
    border-radius: 4px;
    list-style: none;
    padding-left: 3%;
    padding-right: 3%;
    height: 32px;
  }

  .techlanguage {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    background: #fff;
    height: 10%;
    border-radius: 8px;
  }

  .language a {
    text-decoration: none;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #3a4a42;
  }

  .techlanguage a {
    text-align: center;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #36b37e;
  }

  .tech-language-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: -5%;
  }

  .card-ruby a {
    font-weight: bold;
    color: black;
  }

  .about {
    background-image: url(../img/imgAbout.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
    padding-top: 5%;
  }

  .about-header h2 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    color: #172b4d;
  }

  .about-header h3 {
    padding-top: -60%;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    color: #172b4d;
  }

  #about-resume {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
  }

  .box-title { margin-top: 5%; }

  .box {
    display: grid;
    grid-template-rows: 20fr 30fr;
    grid-template-columns: 100%;
    height: 316px;
    border: 1px solid #c1c7d0;
    background: #ebf0ee;
    border-radius: 8px;
  }

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    background-image: url(../img/imgfoot.svg);
    background-repeat: no-repeat;
    background-position: right bottom;
    margin-left: 0;
    margin-right: 0;
  }

  .form input {
    background: #fff;
    border: 1px solid #d0d9d4;
    border-radius: 4px;
    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #6b778c;
    height: 48px;
    padding-left: 3%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .form textarea {
    background: #ffff;
    border: 1px solid #60c095;
    border-radius: 4px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #42526e;
    height: 114px;
    padding-left: 3%;
    padding-top: 3%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .btn-primary {
    height: 48px;
    background: #36b37f;
    border-radius: 4px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #ffff;
    border: transparent;
  }

  .email {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #42526e;
  }

  .indicator-finish {
    margin-top: 10%;
    width: 134px;
    height: 5px;
    bottom: 8px;
    background: #0d151e;
    border-radius: 10px;
  }
}

@media (min-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
  }

  .header-menu {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 5%;
    height: 5%;
  }

  #hamburg-icon {
    font-size: 17pt;
    padding-right: 2rem;
    color: #28352f;
  }

  main {
    background-image: url(../img/header-illsutration-mobile@2x.png);
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 5%;
  }

  .socialmedia-links {
    display: flex;
    flex-direction: row;
    margin-top: 6%;
    justify-content: center;
    transform: translateX(-7%);
    gap: 1.5%;
  }

  .socialmedia-links li {
    list-style: none;
    padding-left: 4%;
  }

  .socialmedia-links img {
    height: 90%;
    width: 90%;
  }

  .headline-section { margin-top: 20%; }

  .headline-primary,
  .headline-secondary {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
  }

  .headline-primary { color: #172b4d; }

  .headline-secondary { color: #36b37e; }

  .headline-content p {
    margin-top: -8%;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #172b4d;
    padding-left: 0.5%;
    padding-right: 0.5%;
  }

  .headline-content {
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 3%;
    padding-right: 3%;
  }

  .btn-hover {
    text-align: center;
    padding-top: 15%;
  }

  .indicator {
    width: 48px;
    height: 4px;
    background: #36b37e;
    border-radius: 24px;
    margin-top: -5%;
  }

  .works-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10%;
  }

  .card {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 10% 20%;
    border-radius: 8px;
    background-color: #fff;
  }

  .tech {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .box-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
  }

  .box-descr h3 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #344563;
    margin-top: -7%;
  }

  .box-descr {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20fr 80fr;
  }

  .card-description {
    margin-top: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #d0d9d4;
  }

  .box-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 17px;
    margin-top: 15%;
  }

  .box-tech {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 17px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 12%;
  }

  .cards {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    height: 474px;
    border: 1px solid #d0d9d4;
    background: #ebf0ee;
    border-radius: 8px;
  }

  .card-headerbg {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .card-list {
    display: flex;
    justify-content: space-between;
    padding-left: 0%;
    margin-top: -3%;
    margin-bottom: 8%;
  }

  .about-content p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #42526e;
    margin-top: -3%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .tech-language {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2%;
    padding-left: 0%;
    justify-content: center;
    align-items: flex-start;
  }

  .card-gra {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20fr 20fr 60fr;
  }

  .card-tech {
    display: flex;
    justify-content: center;
  }

  .card-tech button {
    background-color: #36b37f;
    color: #fff;
  }

  .form-background {
    display: flex;
    justify-content: flex-end;
    position: relative;
    right: -5%;
    margin-top: -24%;
  }

  .form-background img { z-index: -10; }

  .email_links_container { margin-top: 1%; }

  .foot-link { margin-top: 10%; }

  .card-title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #3a4a42;
  }

  .card-see {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 48px;
  }

  .resume {
    display: flex;
    justify-content: center;
  }

  .language {
    display: flex;
    align-items: center;
    background: #ebf0ee;
    text-align: center;
    border-radius: 4px;
    list-style: none;
    padding-left: 3%;
    padding-right: 3%;
    height: 32px;
  }

  .techlanguage {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    background: #fff;
    height: 10%;
    border-radius: 8px;
  }

  .language a {
    text-decoration: none;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #3a4a42;
  }

  .techlanguage a {
    text-align: center;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #36b37e;
  }

  .tech-language-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: -5%;
  }

  .card-ruby a {
    font-weight: bold;
    color: black;
  }

  .about {
    background-image: url(../img/imgAbout.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
    padding-top: 5%;
  }

  .about-header h2 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    color: #172b4d;
  }

  .about-header h3 {
    padding-top: -60%;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    color: #172b4d;
  }

  #about-resume {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
  }

  .box-title { margin-top: 5%; }

  .box {
    display: grid;
    grid-template-rows: 20fr 30fr;
    grid-template-columns: 100%;
    height: 316px;
    border: 1px solid #c1c7d0;
    background: #ebf0ee;
    border-radius: 8px;
  }

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    background-image: url(../img/imgfoot.svg);
    background-repeat: no-repeat;
    background-position: right bottom;
    margin-left: 0;
    margin-right: 0;
  }

  .form input {
    background: #fff;
    border: 1px solid #d0d9d4;
    border-radius: 4px;
    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #6b778c;
    height: 48px;
    padding-left: 3%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .form textarea {
    background: #ffff;
    border: 1px solid #60c095;
    border-radius: 4px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #42526e;
    height: 114px;
    padding-left: 3%;
    padding-top: 3%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .btn-primary {
    height: 48px;
    background: #36b37f;
    border-radius: 4px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #ffff;
    border: transparent;
  }

  .email {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #42526e;
  }

  .indicator-finish {
    margin-top: 10%;
    width: 134px;
    height: 5px;
    bottom: 8px;
    background: #0d151e;
    border-radius: 10px;
  }
}

.btn-primary:hover {
  background: #36b37f;
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

.btn-primary:active { background: #008552; }
