@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
.flexLayout, .socialmedia-links, .formBtn {
  display: flex;
  justify-content: center;
}

.fontStyle, .headline-primary,
.headline-secondary, * {
  font-family: "Inter", sans-serif;
  font-style: normal;
}

.gridLayout {
  display: grid;
  grid-template-columns: 100fr;
}

body {
  margin: 0;
  padding: 0;
}

.headline-primary {
  color: #172b4d;
}

.headline-secondary {
  color: #36b37e;
}

.headline-primary,
.headline-secondary {
  font-weight: 700;
  text-align: center;
  line-height: 52px;
}

.headline-content p {
  font-size: 20px;
  color: #172b4d;
  text-align: center;
}

.btn-reset {
  height: 48px;
  background: #ff6163;
  border-radius: 4px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
  border: transparent;
}

.formBtn {
  flex-direction: row;
  align-items: center;
  height: 48px;
  gap: 12px;
}

.btn-primary {
  height: 48px;
  background: #36b37f;
  border-radius: 4px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
  border: transparent;
}

.btn-primary:hover,
.project-btn-primary:active {
  background: #36b37f;
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

.btn-primary:active,
.project-btn-primary:active {
  background: #008552;
}

nav ul li {
  transition: font-size 0.2s 0.2s ease;
}

.cards,
.box {
  transition: all 2s 0.5s ease-in-out;
}

.cards:hover,
.cards:focus {
  width: 102%;
  position: relative;
  left: -5px;
  box-shadow: 2px 1px 4px 2px #36b37e;
}

.box:hover,
.box:focus {
  box-shadow: 2px 1px 4px 2px #36b37e;
}

.socialmedia-links {
  flex-direction: row;
}

.card-title {
  transition: all 2s 0.5s ease-out;
}

.card-title:hover {
  box-shadow: 2px 2px 5px 1px #000;
}

.btn-hover img {
  transition: all 1.5s 0.5s ease-in-out;
}

.btn-hover img:hover {
  transform: scale(1.5);
  border: 0.5px dashed black;
  border-radius: 50px;
}

.header-first {
  animation-duration: 2s;
  animation-name: anime;
  animation-delay: 0.2s;
  animation-iteration-count: initial;
}

.form-container input {
  font-family: "Inter", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  background: #fff;
  border-radius: 4px;
  line-height: 24px;
  color: #6b778c;
}

.form-container textarea {
  background: white;
  border-radius: 4px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #42526e;
  height: 114px;
}

.contact-descr {
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  color: #172b4d;
}

@keyframes anime {
  from {
    font-size: 30px;
  }
  to {
    margin-top: -2%;
  }
}
.validField {
  border: 0.5px solid #36b37e;
}

.invalidField {
  border: 0.5px dashed #ff6163;
}

#email {
  text-transform: lowercase;
}

.info {
  color: #ff6163;
  font-weight: 500;
  font-size: 17px;
}

.hide {
  display: none;
}/*# sourceMappingURL=style.css.map */