@media (min-width: 768px) {
  @import 'variables';
  @import 'layout';

  .container {
    flex-direction: column;
    @extend.flexLayout;
  }

  .headline-section {
    background-image: url(../img/desk_bg.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 63rem;
    flex-direction: column;
    align-items: center;
    margin-top: -11rem;
    @extend.flexLayout;
  }

  .header-first {
    margin-top: -15rem;
  }

  .header-menu {
    flex-direction: row;
    margin-top: 5.9rem;
    padding-top: 0.59rem;
    position: relative;
    top: -6.5rem;
    width: 100%;
    @extend.flexLayout;
  }

  #hamburg-icon {
    font-size: 17px;
    padding-right: 2rem;
    color: $default;
    display: none;
  }

  nav {
    ul {
      display: flex;
      height: 40px;
      gap: 8px;
      align-items: center;
      padding: 0;
    }
  }

  nav ul li {
    list-style: none;
  }

  nav ul li > a {
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: $aboutBoxTitle;
    text-align: center;
  }

  .socialmedia-links {
    flex-direction: row;
    gap: 8px;
    align-items: center;
  }

  .socialmedia-links li {
    list-style: none;
    color: #505f79;
    width: 40px;
    height: 40px;
  }

  .headline-primary,
  .headline-secondary {
    font-size: 40px;
    text-align: center;
  }

  .headline-content p {
    padding-left: 8rem;
    padding-right: 8rem;
  }

  .headline-content {
    margin-top: -5%;
  }

  .btn-hover {
    margin-top: 24px;
    align-items: center;
    width: 100%;
    height: 15%;
    @extend.flexLayout;
  }

  .indicator {
    display: none;
  }

  .works-section {
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin-top: -25rem;
    @extend.flexLayout;
  }

  .about-container {
    flex-direction: column;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    @extend.flexLayout;
  }

  .tech {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .box-icon {
    align-items: center;
    margin-top: 10%;
    @extend.flexLayout;
  }

  .box-descr h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #344563;
    margin-top: -7%;
  }

  .box-descr {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20fr 80fr;
  }

  .card-description {
    margin-top: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #d0d9d4;
  }

  .box-card {
    display: grid;
    grid-template: repeat(3, 1fr)/repeat(2, 1fr);
    row-gap: 24px;
    -moz-column-gap: 24px;
    column-gap: 24px;
    margin: 0;
    padding: 0;
  }

  .box-tech {
    margin-top: 5%;
    display: grid;
    grid-template: repeat(2, 50fr)/repeat(2, 50fr);
    -moz-column-gap: 24px;
    column-gap: 24px;
    row-gap: 24px;
    grid-template-areas: "header header" "skill skill";
  }

  .skills {
    grid-area: skill;
    align-items: center;
    @extend.flexLayout;
  }

  .cards {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 52% 48%;
    height: 474px;
    border: 1px solid #d0d9d4;
    background: #ebf0ee;
    border-radius: 8px;
  }

  .card-headerbg {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .card-list {
    gap: 4px;
    padding-left: 0;
    height: 32px;
    @extend.flexLayout;
  }

  .about-content p {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #42526e;
    margin-top: -5%;
    text-align: center;
    margin-left: 8rem;
    margin-right: 8rem;
  }

  .tech-language {
    display: flex;
    flex-direction: row;
    gap: 8px;
    flex-wrap: wrap;
    padding: 0;
    justify-content: center;
    margin-right: 16px;
    margin-left: 16px;
    align-items: center;
  }

  .card-gra {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 40% 20% 40%;
  }

  .card {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    border-radius: 8px;
    background-color: #fff;
  }

  .card-tech {
    @extend.flexLayout;
  }

  .card-tech button {
    background-color: #36b37f;
    color: #fff;
  }

  .form-background {
    display: flex;
    justify-content: flex-end;
    position: relative;
    right: -5%;
    margin-top: -24%;
  }

  .form-background img {
    z-index: -10;
  }

  .email_links_container {
    margin-top: 1%;
    border-top: 1px solid #dfe1e6;
    margin-left: 0;
    margin-right: 0;
    height: 40px;
    width: 100%;
  }

  .foot-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
  }

  .card-title {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: $primary;
    text-align: center;
    padding-left: 8%;
    padding-right: 8%;
  }

  .card-see {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 48px;
    margin-top: 1.3rem;
  }

  .resume {
    @extend.flexLayout;
  }

  .language {
    display: flex;
    align-items: center;
    background: #ebf0ee;
    text-align: center;
    border-radius: 4px;
    list-style: none;
    padding: 4px;
  }

  .techlanguage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 12px;
    background: #fff;
    border-radius: 8px;
  }

  .language a {
    text-decoration: none;
    text-align: center;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: $primary;
  }

  .techlanguage a {
    text-align: center;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #36b37e;
  }

  .tech-language-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: -5%;
  }

  .card-ruby a {
    font-weight: bold;
    color: black;
  }

  .about {
    display: flex;
    flex-direction: column;
    background-image: url(../img/desk_about.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-top: 5%;
  }

  .about-header h2 {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    color: $primary;
    padding-bottom: 24px;
  }

  .about-header h3 {
    padding-top: -60%;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    color: $primary;
  }

  .about-header {
    margin-top: 1rem;
  }

  .selenium {
    display: none;
  }

  #about-resume {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
  }

  .box-title {
    margin-top: 5%;
  }

  .box {
    display: grid;
    grid-template-rows: 20fr 30fr;
    grid-template-columns: 100fr;
    border: 1px solid #c1c7d0;
    background: #ebf0ee;
    border-radius: 8px;
    height: 316px;
    width: 369px;
  }

  .contact {
    margin-top: 0;
    background-image: url(../img/desk_contact.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 7%;
    margin-top: 1rem;
  }

  .form-container input {
    background: #fff;
    border-radius: 4px;
    font-family: "Inter", sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #6b778c;
    padding: 2%;
  }

  .form-container textarea {
    background: white;
    border-radius: 4px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #42526e;
    height: 114px;
    padding-left: 3%;
    padding-top: 3%;
  }

  .form-container button {
    align-self: center;
  }

  .btn-primary {
    height: 48px;
    background: #36b37f;
    border-radius: 4px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: white;
    border: transparent;
  }

  .email {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #42526e;
    display: none;
  }

  .indicator-finish {
    display: none;
    margin-top: 10%;
    width: 134px;
    height: 5px;
    bottom: 8px;
    background: #0d151e;
    border-radius: 10px;
  }

  .box-contact {
    display: grid;
    grid-template: 3fr 5fr/100%;
    margin-top: 10px;
    -moz-column-gap: 24px;
    column-gap: 24px;
  }

  .box-contact-descr {
    margin-top: -1%;
  }

  .contact-descr {
    font-weight: 700;
    font-size: 32px;
    line-height: 52px;
    color: $primary;
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: -10%;
  }

  .modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .modalBackground {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: rgba(193, 199, 208, 0.8);
    top: 0;
    // left: 0;
    backdrop-filter: blur(2px);
    color: black;
    width: 100%;
    padding-top: 100vh;
    padding-bottom: 100vh;
  }

  .modal-body {
    background: white;
    border-radius: 8px;
    margin: 10%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    position: absolute;
    top: 0;
  }

  .modal-list {
    display: flex;
    gap: 8px;
    padding-left: 0;
    justify-content: start;
  }

  .modal-tecnology-list {
    margin-top: -2.5rem;
    width: 100%;
  }

  .list-button {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
  }

  .modal-btns {
    display: flex;
    gap: 1rem;
    width: 50%;
    justify-content: end;
  }

  .project-btn-primary {
    background: $btnBg;
    border-radius: 4px;
    font-size: 15px;
    line-height: 20px;
    color: $btnFc;
    border: transparent;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal-close {
    align-self: flex-end;
  }

  .modal-img {
    display: flex;
    width: 100%;

    img {
      height: 100%;
      width: 100%;
    }
  }

  .header-modal-text {
    width: 50%;
    justify-self: start;

    h3 {
      font-size: 32px;
      line-height: 44px;
      font-weight: bold;
      color: $primary;
    }
  }

  .modal-language {
    display: flex;
    align-items: center;
    background: #ebf0ee;
    text-align: center;
    border-radius: 4px;
    list-style: none;
    padding: 4px;
  }

  .modal-language a {
    text-decoration: none;
    text-align: center;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #344563;
  }

  .modal-content {
    margin-top: -1.5%;

    p {
      color: #344563;
      font-size: 16px;
      line-height: 30px;
      text-align: start;
    }
  }

  #submit {
    margin-right: 0;
  }
}
