@import url(./base.css);

.cardsMainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 1s ease-in-out;
}

.cardsContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 1rem;
  margin-top: -8rem;
  transition: all 1s ease-in-out;
}

.cardItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--fourth-color);
  border-radius: 8px;
  border: 1px solid var(--nineth-color);
  height: 350px;
  width: 358px;
  cursor: pointer;
  transition: all 1s ease-in-out;
}

.cardItem:focus,
.cardItem:active,
.cardItem:hover {
  transform: scale(1.02);
  box-shadow: 2px 1px 4px 2px var(--eleventh-color);
}

.cardTitle {
  margin-top: 0.3rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  line-height: 32px;
  color: var(--seventh-color);
}

.techsContainer {
  margin-top: 1rem;
  display: flex;
  gap: 8px;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}

.techsContainer p {
  background-color: var(--white-color);
  padding: 8px;
  border-radius: 8px;
  color: var(--main-color);
}

@media screen and (min-width: 768px) {
  .cardsContainer {
    margin-top: -15%;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 8%;
    padding-right: 8%;
    gap: 24px;
    width: 1172px;
    transition: all 1s ease-in-out;
  }

  .cardItem {
    width: 369px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .cardsContainer {
    margin-top: -12rem;
    display: grid;
    grid-template-columns: repeat(2, 50fr);
    grid-template-rows: repeat(2, 50fr);
    align-items: center;
    justify-items: center;
    width: 100%;
    transition: all 1s ease-in-out;
  }
}

@media screen and (max-width: 375px) {
  .cardsContainer {
    margin-top: -2.5rem;
  }
}
