@import url(./style/base.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.headline-primary,
.headline-secondary {
  font-size: 40px;
  text-align: center;
}

.headline-primary {
  color: var(--fith-color);
}

.headline-secondary {
  color: var(--main-color);
}

.btnContainer {
  margin-top: 8%;
  margin-bottom: 3%;
  display: flex;
  justify-content: center;
}

.btnPrimary,
.btnPrimaryDis,
.btnReset,
.btnResetDis {
  background: var(--main-color);
  border-radius: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 3%;
  color: var(--white-color);
  border: transparent;
  padding: 4%;
  cursor: pointer;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s ease-in-out;
}

.btnPrimaryDis {
  background: var(--third-color);
}

.btnPrimary:hover,
.btnPrimary:active,
.btnPrimary:focus {
  background: var(--btnMainHover-color);
  box-shadow: 0 8px 16px var(--btnMainHoverShadow-color);
}

.btnReset {
  background: #ff6163;
}

.btnResetDis {
  background: #ff61649a;
}

.btnReset:hover,
.btnReset:active,
.btnReset:focus {
  background: #ff6164d3;
  box-shadow: 0 8px 16px #dd5659;
}

.modalContainer {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: var(--modal-color);
  backdrop-filter: blur(10px);
  z-index: 7000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hide {
  display: none;
}

#root {
  overflow: hidden;
}
